.object-representation {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
  background-color: #333;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
  padding: 1rem;
  border-radius: 4px;
  overflow-y: auto;
}

.object-entry__null,
.object-entry__undefined {
  color: #ccc;
}

.object-entry__string {
  color: #00ff00;
}

.object-entry__number,
.object-entry__boolean {
  color: #0049da;
}

.object-entry__function {
  color: #ff0000;
}

.object-entry__key {
  color: #903dc7;
}

.object-entry__array-toggle,
.object-entry__object-toggle {
  cursor: pointer;
}

.object-entry__empty-array,
.object-entry__empty-object {
  color: #ccc;
}
